/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilos globais */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

/* Adicione outros estilos globais conforme necessário */
